:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* background-color: black; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
  padding: 10px;
}

.value {
  color: rgb(97, 97, 86);
  font-size: 40px;
  font-weight: 700;
}

.label {
  color: black;
  font-size: 36px;
}
